<header class="header">
    <app-menu-bar>        
    </app-menu-bar>
</header>

<app-menu-title></app-menu-title>
<div class="container-articles">
    <div class="articles-main">
        <app-big-card photoCover="../../../assets/angular.png"
        cardTitle="Novo Curso Angular"
        cardDescription="A mais nova versão do Angular, pronto para você fazer seu portfólio.">
            
            
        </app-big-card>
    </div>
    <div class="articles-orthers">
        <app-small-card 
        photoCover="../../../assets/react.png"
        cardTitle="Curso Completo de React"></app-small-card>
        <app-small-card
        photoCover="../../../assets/vuejs.webp"
        cardTitle="Curso Completo de Vue"></app-small-card>
        <app-small-card 
        photoCover="../../../assets/angular.png"
        cardTitle="Curso atualizado de Angular"></app-small-card>
    </div>
</div>
